@media (min-width: 390px) {
  .hamburger {
    padding: 10px;
    position: fixed;
    z-index: 2000;
    transition: left 0.4s ease;
  }

  .hamburger-open {
    left: 200px;
  }

  .hamburger .hamburger-btn-default {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: rgb(180, 88, 13);
    transition: 0.4s;
  }

  .hamburger .hamburger-btn-red {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: #b32020;
    transition: 0.4s;
  }

  .hamburger .hamburger-btn-green {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: #3da02a;
    transition: 0.4s;
  }

  .hamburger .hamburger-btn-blue {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(255, 255, 255, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: #2c2caa;
    transition: 0.4s;
  }

  .hamburger .hamburger-btn-light-default {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: rgb(180, 88, 13);
    transition: 0.4s;
  }

  .hamburger .hamburger-btn-light-red {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: #b32020;
    transition: 0.4s;
  }

  .hamburger .hamburger-btn-light-green {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: #3da02a;
    transition: 0.4s;
  }

  .hamburger .hamburger-btn-light-blue {
    border: none;
    padding: 5px 10px;
    font-size: 23px;
    background-color: rgba(0, 0, 0, 0.068);
    border-radius: 4px;
    cursor: pointer;
    color: #2c2caa;
    transition: 0.4s;
  }

  .hamburger .hamburger-btn:hover,
  .hamburger .hamburger-btn-light:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

@media (min-width: 1250px) {
  .hamburger {
    display: none;
  }
}