@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Pacifico&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Roboto Condensed", sans-serif;
}

.body {
  display: flex;
  min-height: 100vh;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.theme-dark {
  background-color: rgb(17, 17, 17);
  color: white;
  transition: background-color 0.3s ease, color 0.5s ease;
}

.theme-light {
  background-color: rgb(243, 255, 255);
  color: black;
  transition: background-color 0.3s ease, color 0.5s ease;
}

.main-body {
  position: relative;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border-theme-color-red {
  border: 2px solid #b32020;
}

.border-theme-color-green {
  border: 2px solid #3da02a;
}

.border-theme-color-blue {
  border: 2px solid #2c2caa;
}

.border-theme-color-default {
  border: 2px solid rgb(180, 88, 13);
}

@media (min-width: 390px) {
}

@media (min-width: 480px) {
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

@media (min-width: 1024px) {
  /* laptop */
}

@media (min-width: 1280px) {
  /* desktop */
}
